create database Wish
USE [Wish]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/28/2020 5:52:31 PM ******/
/* Tiêu chuẩn ANSI NULLS: khi sử dụng tiêu chuẩn ANSI các giá trị Null sẽ trả về unknown thay vì True hoặc False như thông thường */
/* Set dùng để cài đặt 1 số thuộc tính và tùy chọn trong quá trình thực hiện SQL */
SET ANSI_NULLS ON
GO
/* Khi quoted identifier được bật thì các chuỗi phải được bao quanh bằng dấu ngoặc kép (") */
SET QUOTED_IDENTIFIER ON
GO
/* bảng tên "Account" trong schema "dbo" của cơ sở dữ liệu */
CREATE TABLE [dbo].[Account](
	[uID] [int] IDENTITY(1,1) NOT NULL, /* identity dùng để tự động tăng lên 1 cho mỗi giá trị mới (bắt đầu là 1) */
	[user] [varchar](255) NULL,
	[pass] [varchar](255) NULL,
	[isSell] [int] NULL,
	[isAdmin] [int] NULL,
/* Đặt cho uID là khóa chính */
/* đảm bảo rằng mỗi giá trị trong cột "uID" là duy nhất và không thể trùng lặp trong bảng */
PRIMARY KEY CLUSTERED 
(
/* Order by -- ASC dùng để sắp xếp theo thứ tự tăng dần, từ giá trị nhỏ nhất đến lớn nhất -- DESC thì ngược lại */
	 [uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/*  PAD_INDEX = OFF: Không sử dụng ghi chú trong cụm dữ liệu.
	STATISTICS_NORECOMPUTE = OFF: Cho phép tính toán lại thống kê cho cụm dữ liệu.
	IGNORE_DUP_KEY = OFF: Không cho phép các giá trị trùng lặp trong khóa chính.
	ALLOW_ROW_LOCKS = ON: Cho phép khóa hàng để thực hiện thay đổi dữ liệu trên dòng.
	ALLOW_PAGE_LOCKS = ON: Cho phép khóa trang để thực hiện thay đổi dữ liệu trên trang dữ liệu. */
) ON [PRIMARY]
Select *from Account
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/28/2020 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[AccountID] [int] NULL,
	[ProductID] [int] NULL,
	[Amount] [int] NULL
) ON [PRIMARY]
Select *from Cart
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/28/2020 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](50) NOT NULL,
/* CONSTRAINT: ràng buộc khóa chính */
/* CLUSTERED: sắp xếp theo thứ tự */
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/28/2020 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[price] [money] NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[cateID] [int] NULL,
	[sell_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/* SET IDENTITY_INSERT: cho phép thay đổi hoặc cập nhật dữ liệu trong cột có thuộc tính IDENTITY mà không phá vỡ quy tắc tự động tạo giá trị */
/* có thể chèn giá trị tùy ý vào cột có thuộc tính identity nhưng không được trùng cái đã có */
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT INTO [dbo].[Account] ([uID], [user], [pass], [isSell], [isAdmin])
VALUES
(1, N'Adam', '123456', 1, 0),
(2, N'Anjolie', '654321', 0, 1),
(3, N'Ferris', '987654', 0, 1),
(4, N'Katell', '246813', 0, 0),
(5, N'Zahir', '135792', 1, 0),
(6, N'Conan', '864209', 1, 0),
(7, N'Cade', '357911', 1, 0),
(8, N'Micah', '202224', 0, 0),
(9, N'Rowan', '182736', 1, 1),
(10, N'Kirby', '112233', 1, 0),
(11, N'Tanisha', '445566', 0, 1),
(12, N'Howard', '778899', 0, 1),
(13, N'Tana', '101112', 0, 0),
(14, N'Hadassah', '131415', 1, 0),
(15, N'Echo', '161718', 1, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
/* Chèn xong nhớ tắt nha <3 */

INSERT [dbo].[Category] ([cid], [cname]) VALUES (1, N'GIÀY ADIDAS')
INSERT [dbo].[Category] ([cid], [cname]) VALUES (2, N'GIÀY NIKE')
INSERT [dbo].[Category] ([cid], [cname]) VALUES (3, N'GIÀY BITI''S')

SET IDENTITY_INSERT [dbo].[product] ON 
INSERT [dbo].[product] ([id], [name], [image], [price], [title], [description], [cateID], [sell_ID]) VALUES (2, N'Giày chạy bộ', N'https://www.prokituk.com/media/catalog/product/cache/492fa7b0a954c582f49c6e3f2e151aab/n/o/nova_4.jpg', 120.0000, N'Giày Adidas Nova Run EE9266', N'Giày thể thao Adidas Advantage Clean sử dụng chất liệu cao cấp, thoáng khí cả mặt trong và mặt ngoài giúp bạn luôn dễ chịu và thoải mái dù mang trong thời gian dài. Giày Adidas VS Advantage có bộ đế êm ái giúp người đi tận hưởng cảm giác thoải mái cho cả ngày dài vận động.', 1, 6)
SET IDENTITY_INSERT [dbo].[product] OFF


select * from product